@model $safeprojectname$.Models.CreateUserModel
@{
    ViewBag.Title = "Create User";
}

<h2>Register your new user account</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "User creation was not successful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.PasswordQuestion)				
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.PasswordQuestion)                
				@Html.ValidationMessageFor(m => m.PasswordQuestion)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.PasswordAnswer)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.PasswordAnswer)            
				@Html.ValidationMessageFor(m => m.PasswordAnswer)				
            </div>
            <p>
                <input type="submit" value="Create User" />
            </p>
			<p>
				Passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
			</p>
        </fieldset>
    </div>
}
